body {
  margin: 0px;
  padding: 0px;
  /* font-family: 'Courier New', Courier, monospace; */
  background: url("/Projects Webdevelopment/img/project1/bg2.jpg");
  background-image: 100%;
  background-size: 137%;
  color: white;
  /* font-family: 'Courier New', Courier, monospace; */
}
.left img {
  width: 52px;
}
.left {
  /* border: 3px solid brown; */
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.left img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

.mid {
  /* border: 3px solid white; */
  width: 69%;
  margin: 11px auto;
  text-align: center;
}

.navbar {
  display: inline-block;
}

.navbar li {
  display: inline-block;
}
.navbar li a {
  color: white;
  text-decoration: none;
  padding: 22px 42px;
  font-size: 30px;
}
.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: #009900;
}

.right {
  /* border: 3px solid blue; */
  display: inline-block;
  position: absolute;
  top: 32px;
  right: 34px;
}
.btn {
  margin: 3px 9px;
  padding: 4px 10px;
  color: white;
  border-radius: 10px;
  border: 2px;
  background-color: gray;
  font-size: 16px;
}
.btn:hover {
  background-color: #009900;
  cursor: pointer;
}
.content {
  /* border: 2px solid rgb(248, 0, 0); */
  padding: 20px;
  margin: 70px;
  display: block;
  width: 40%;
  border-radius: 10px;
}
h1{
    color: rgb(8 255 182);
}
.form input{
    padding-left: 14px;
    font-size: 15px;
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px;
    display: block;
    width: 260px;
    text-align: center;
}
.content button{
    margin: 10px;
    margin: 12px 70px;
}
